<!--# def text(request):-->
<!--#     file_path = r"C:\Users\LENOVO\PycharmProjects\textutil\textutil\textutil\1.txt"  # Use raw string for Windows path-->
<!--#     with open(file_path, "r") as f:-->
<!--#         a= f.read()-->
<!--#         return HttpResponse(a)-->

<!--# def other(request):-->
<!--#     htt='''-->
<!--#     <h1>Links</h1>-->
<!--#         <ul>-->
<!--#             <li><a href="https://www.youtube.com/?app=desktop"> Youtube</a></li>-->
<!--#             <li><a href="https://chatgpt.com/c/66f82c42-bb08-800e-941a-57b41d40ea57"> Chatgpt</a></li>-->
<!--#             <li><a href="https://mail.google.com/mail/u/0/#inbox"> Gmail</a></li>-->
<!--#         </ul>-->
<!--#     '''-->
<!--#     return HttpResponse(htt)-->